@media only screen and (max-width: 575px) {
  .hero-text {
    font-size: 60px !important;
    top: 12% !important;
  }
}

@media only screen and (max-width: 356px) {
  .hero-text {
    display: none;
  }
}
.hero-image {
  width: 100%;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  object-fit: cover;
  max-height: 500px;
}

.hero-text {
  position: absolute;
  z-index: 1;
  top: 30%;
  left: 5%;
  color: white;
  font-size: 100px;
  font-weight: 900;
  line-height: 80%;
  text-transform: capitalize;
}
