.expanded-navbar-container {
  position: absolute;
  left: 0;
  top: 0;
  height: 160px;
  background-color: white;
  width: 100vw;
  z-index: 3;
}

.expanded-navbar-item-wrap {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: auto;
}

.search-expanded-user-hamburger-wrapper {
  width: 75px;
  height: 40px;
  border: 1px solid var(--grey-footer);
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-left: 30px;
}

.search-expanded-user-hamburger-wrapper:hover,
.search-expanded-user-hamburger-wrapper:focus {
  box-shadow: var(--box-shadow);
}

.search-menu-title:after {
  display: block;
  content: "";
  border-bottom: solid 2px black;
  transform: scaleX(0);
  transition: transform 300ms ease-in-out;
  z-index: 5;
}

.search-menu-title:hover:after {
  transform: scaleX(0.5);
  z-index: 5;
}

.expanded-navbar-item-wrap > .search-menu-title > p {
  font-weight: 400;
  font-size: 15px;
}

.search-filter-box {
  margin: auto;
  width: 800px;
  height: 50px;
  background-color: var(--grey-footer);
  border-radius: 50px;
  display: flex;
  justify-content: space-evenly;
}

.search-filter-items {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
}

/* .search-filter-item:hover {
    background-color: grey;
    border-radius: 50px;
    box-shadow: var(--box-shadow);
  } */
.search-filter-item:hover {
  background-color: white;
  border-radius: 50px;
  -ms-transform: scale(1.25); /* IE 9 */
  -webkit-transform: scale(1.25); /* Safari 3-8 */
  transform: scale(1.25);
  transition: transform 0.2s;
  box-shadow: var(--box-shadow);
  z-index: 4;
}

.search-filter-items p {
  font-size: 12px;
  text-align: left;
}

.expanded-search-background {
  background-color: var(--airbnb-pink);
  height: 35px;
  width: 100px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.expanded-search-background .MuiSvgIcon-root {
  color: white;
  margin-left: 7px;
}

.expanded-search-background p {
  color: white;
  position: absolute;
  top: 4.5px;
  font-size: 15px;
  padding: 0;
}

.expanded-search-background:hover {
  box-shadow: var(--box-shadow);
}
