.footer-items {
  padding-top: 50px;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.1em;
  background-color: var(--grey-footer);
  padding-bottom: 100px;
}

.footer-header {
  color: var(--font-colour);
  text-transform: uppercase !important;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.1em;
}

.footer-items .row {
  margin-top: 15px;
}

.choose-language:hover {
  color: var(--airbnb-pink);
  cursor: pointer;
}
