.listing-type-individual {
  position: relative;
  height: 250px;
  border-radius: var(--border-radius);
}

.listing-type-individual ~ p {
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.05em;
}
