@media only screen and (min-width: 999px) {
  .small-navbar-container {
    display: none !important;
  }
}

.small-navbar-container {
  position: fixed;
  left: 0;
  top: 0;
  height: 70px;
  background-color: white;
  width: 100vw;
  z-index: 2;
  padding: 10px;
}

.searchbox-area {
  margin: auto;
  display: flex;
  justify-content: space-around;
  width: auto;
  height: 40px;
  border: 1px solid var(--grey-footer);
  border-radius: 50px;
  box-shadow: var(--box-shadow);
}

.searchbox-area input {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.05em;
  width: 60vw !important;
  outline: none !important;
  border: none !important;
  /* margin: auto; */
}

.searchbox-area input::placeholder {
  text-align: center;
}
